html {
  -webkit-transition: background-color 300ms, color 300ms, opacity 300ms;
  -moz-transition: background-color 300ms, color 300ms, opacity 300ms;
  -o-transition: background-color 300ms, color 300ms, opacity 300ms;
  -ms-transition: background-color 300ms, color 300ms, opacity 300ms;
  transition: background-color 300ms, color 300ms, opacity 300ms;
  color: #393939;
}

html.hide {
  opacity: 0;
}

html.hovering {
  color: white;
}

.content {
  width: 100%;
  position: absolute;
}

body {
  padding-top: 100px;
  font-family: "Helvetica Neue", Arial, sans;
}

.social {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social li {
  display: inline-block;
  margin: 0 20px;
  font-size: 3em;
}

.social li a {
  color: white;
  display: inline-block;
}

.social li a span {
  opacity: 0.5;
  display: block;
  padding: 10px 5px;
  border-radius: 100px;
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  -ms-transition: opacity 300ms;
  transition: opacity 300ms;
}

/*.social li a span:hover {
  opacity: 1;
}*/

.social:hover li a span {
  opacity: 1;
}


h1 {
  margin: 0;
  margin-bottom: 25px;
  font-size: 3.5em;
}

h1, .social {
  font-weight: 300;
  text-align: center;
}
