@import "../extra_dependencies/normalize/normalize.less";
@import "../extra_dependencies/tooltipster/tooltipster.less";

@import "mixins.less";

@font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;

body, h1, h2, h3, h4, h5, h6, p {
  font-family: @font-family;
  font-weight: normal;
  color: #444;
}

a {
  text-decoration: none;
}

article {
    border-bottom: 1px solid #ddd;
    header {
      text-align: center;
    }
    h3 {
      font-size: 1.5em;
    }
    section {
      max-width: 840px;
      margin: 0 auto;
      font-size: 1.2em;
      line-height: 1.7em;
    }
  }

.container {
  width: 85%;
  margin: 0 auto;
}

.copy {
  font-size: 0.75em;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}