@import "base.less";

.site-header {
  h1 {
    a:first-child {
      margin-right: 5px;
    }
    a:last-child {
      margin-left: 5px;
      color: #aaa;
    }
    span {
      color: #bbb;
    }
  }
}