@import "../extra_dependencies/normalize/normalize.less";

.box-sizing(@box-model) {
  -webkit-box-sizing: @box-model;
  -moz-box-sizing: @box-model;
  box-sizing: @box-model;
}

@font-face {
  font-family: 'Mono Social Icons Font';
  src: url('../extra_dependencies/monosocialicons/MonoSocialIconsFont-1.10.eot');
  src: url('../extra_dependencies/monosocialicons/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
       url('../extra_dependencies/monosocialicons/MonoSocialIconsFont-1.10.woff') format('woff'),
       url('../extra_dependencies/monosocialicons/MonoSocialIconsFont-1.10.ttf') format('truetype'),
       url('../extra_dependencies/monosocialicons/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
  src: url('../extra_dependencies/monosocialicons/MonoSocialIconsFont-1.10.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.symbol, a.symbol:before {
  font-family: 'Mono Social Icons Font';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

a.symbol:before {
  content: attr(title);
  margin-right: 0.3em;
  font-size: 130%;
}

hgroup.intro {
  ul {
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      .social {
        .box-sizing(border-box);
        width: 60px;
        height: 60px;
        padding-top: 1px;
        padding-left: 9px;
        margin-right: 10px;
        text-decoration: none;
        display: inline-block;
        border-radius: 100px;
        color: white;
      }
      .symbol {
        font-size: 50px;
      }
    }
  }
}