@import "../extra_dependencies/normalize/normalize.less";
@import "../extra_dependencies/tooltipster/tooltipster.less";

@font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;

.box-sizing(@box-model) {
  -webkit-box-sizing: @box-model;
  -moz-box-sizing: @box-model;
  box-sizing: @box-model;
}

@font-face {
  font-family: 'Mono Social Icons Font';
  src: url('../extra_dependencies/monosocialicons/MonoSocialIconsFont-1.10.eot');
  src: url('../extra_dependencies/monosocialicons/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
       url('../extra_dependencies/monosocialicons/MonoSocialIconsFont-1.10.woff') format('woff'),
       url('../extra_dependencies/monosocialicons/MonoSocialIconsFont-1.10.ttf') format('truetype'),
       url('../extra_dependencies/monosocialicons/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
  src: url('../extra_dependencies/monosocialicons/MonoSocialIconsFont-1.10.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body, h1, h2, h3, h4, h5, h6, p {
  font-family: @font-family;
  font-weight: normal;
  color: #444;
}

h1 {
  font-size: 2em;
}

.symbol, a.symbol:before {
  font-family: 'Mono Social Icons Font';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

a.symbol:before {
  content: attr(title);
  margin-right: 0.3em;
  font-size: 130%;
}

.hero-unit {
  
  h1, p {
    transition: color 200ms;
  }
  
  &.white {
    h1, p {
      color: white;
    }
  }

  transition: background-color 200ms;

  padding-top: 160px;
  padding-bottom: 160px;

  border-bottom: 1px solid #ccc;

  hgroup.intro {
    ul {
      transition: opacity 200ms;
      opacity: 0.4;
      padding: 0;
      list-style: none;
      li {
        display: inline-block;
        margin-right: 15px;
        .social {
          .box-sizing(border-box);
          width: 60px;
          height: 60px;
          padding-top: 1px;
          padding-left: 9px;
          text-decoration: none;
          display: inline-block;
          border-radius: 100px;
          color: white;
        }
        .symbol {
          font-size: 50px;
        }
      }

      &:hover {
        opacity: 1;
      }
    }

    p {
      font-size: 1.5em;
      line-height: 1.5em;
    }
  }

}

.text-align-right {
  text-align: right;
}

.container {
  width: 85%;
  margin: 0 auto;
}

/**
 * This is the tooltip theme.
 */
.tooltip-simple-black {
  border-radius: 5px;
  background: black;
  color: #fff;
  text-align: center;

  /* Use this next selector to style things like font-size and line-height: */
  .tooltipster-content {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 20px;
    padding: 15px 10px;
  }
}

.articles {
  padding-top: 30px;
  article {
    border-bottom: 1px solid #ddd;
    header {
      text-align: center;
    }
    section {
      font-size: 1.5em;
      line-height: 1.5em;
    }
  }
}