html {
  -webkit-transition: color 500ms ease, background-color 500ms ease;
     -moz-transition: color 500ms ease, background-color 500ms ease;
       -o-transition: color 500ms ease, background-color 500ms ease;
          transition: color 500ms ease, background-color 500ms ease;
  font-weight: 300;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  padding-top: 90px;
}

h1 {
  font-weight: 300;
}

p {
  font-size: 1.5em;
}

.intro {
  margin: 0 auto;
  width: 1024px;
}

.intro ul {
  list-style-type: none;
  display: block;
  padding: 0;
}

.intro ul li {
  display: inline-block;
  margin-right: 15px;
  font-size: 1.4em;
  text-transform: uppercase;
}

.intro ul li a {
  text-decoration: none;
}

/*
.intro nav {
  position: relative;
  margin-bottom: 35px;
}
*/

.intro nav {
  position: relative;
  display: inline-block;
  margin-top: -15px;
  margin-bottom: -10px;
}

.intro div {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 2px;
  -webkit-transition: width 200ms, left 200ms, opacity 500ms ease, background-color 500ms ease;
     -moz-transition: width 200ms, left 200ms, opacity 500ms ease, background-color 500ms ease;
       -o-transition: width 200ms, left 200ms, opacity 500ms ease, background-color 500ms ease;
          transition: width 200ms, left 200ms, opacity 500ms ease, background-color 500ms ease;
}

.intro div.black {
  background-color: black;
  width: 50px;
}

.intro div.white {
  background-color: white;
  width: 50px;
}

a.black {
  -webkit-transition: color 500ms ease;
     -moz-transition: color 500ms ease;
       -o-transition: color 500ms ease;
          transition: color 500ms ease;
  color: black;
}

a.black:visited {
  color: black;
}

a.white {
  -webkit-transition: color 500ms ease;
     -moz-transition: color 500ms ease;
       -o-transition: color 500ms ease;
          transition: color 500ms ease;
  color: white;
}

a.white:visited {
  color: white;
}


.simple-black {
  border-radius: 5px;
  background: black;
  color: #fff;
  text-align: center;
}

/* Use this next selector to style things like font-size and line-height: */
.simple-black .tooltipster-content {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 20px;
  padding: 15px 10px;
}