extends layout

block append vars
  - bodyclass = 'article-detail'

block prepend title
  | #{ page.title + " - "}

block content
  .container
    article.article
      header
        include author
        h1= page.title
        p.author
          | #{ "Written by " }
          mixin author(page.metadata.author)
      section.content!= typogr(page.html).typogrify()

block prepend footer
  .container
    div.nav
      a(href='/blog') « Full blog


