extends layout

block styles
  link(rel='stylesheet', href='/css/blog.css')

block header
  header.site-header
    hgroup.container
      h1
        a(href='/blog') The Blog 
        span | 
        a(href='/') #{ locals.owner }
      nav
        ul
          for social in env.config.home.socials
            li(data-tooltip, title=social.text)
              a(href=social.url, target='_blank', style='background-color: #{ social.color }')
                span(class='symbol')
                  !=social.symbol
