---
layout: "default"
---
<div class="intro">

  <div class="intro-inner">
    <h1>Salehen Shovon Rahman</h1>

    <nav>
      <ul>
        <li data-tooltip title="I tweet"><a href="http://twitter.com/shovon_rahman" target="_blank">Twitter</a></li>
        <li data-tooltip title="I code"><a href="http://github.com/shovon" target="_blank">GitHub</a></li>
        <li data-tooltip title="Connect with me"><a href="http://ca.linkedin.com/pub/salehen-rahman/23/87b/6ab/" target="_blank">LinkedIn</a></li>
        <li data-tooltip title="Add me to your circle"><a href="https://plus.google.com/105481576429214918750" target="_blank">Google+</a></li>
        <li data-tooltip title="My music"><a href="http://soundcloud.com/shovonrahman" target="_blank">SoundCloud</a></li>
        <li data-tooltip title="My music as videos"><a href="http://youtube.com/user/shovonRahman" target="_blank">YouTube</a></li>
        <li data-tooltip title="Email me"><a href="mailto:salehen.rahman@gmail.com" target="_blank">Email</a></li>
      </ul>
      <div class="cursor"></div>
    </nav>

    <p>
      I'm a <strong>programmer</strong>, and I do a bunch of stuff on the Internet. Although,
      I'm mostly programming, but <strong>I also produce electronic music</strong>. My
      favourite genre is progressive house. <strong>Friend me up</strong> on the Internet
      social sphere. And most importantly, do not be afraid to <strong>say hi</strong>. I'm a
      friendly guy.
    </p>
  </div>

  <ul class="only-mobile">
    <li><a class="twitter-theme" href="http://twitter.com/shovon_rahman" target="_blank">Twitter</a></li>
    <li><a class="github-theme" href="http://github.com/shovon" target="_blank">GitHub</a></li>
    <li><a class="linkedin-theme" href="http://ca.linkedin.com/pub/salehen-rahman/23/87b/6ab/" target="_blank">LinkedIn</a></li>
    <li><a class="google-plus-theme" href="https://plus.google.com/105481576429214918750" target="_blank">Google+</a></li>
    <li><a class="soundcloud-theme" href="http://soundcloud.com/shovonrahman" target="_blank">SoundCloud</a></li>
    <li><a class="youtube-theme" href="http://youtube.com/user/shovonRahman" target="_blank">YouTube</a></li>
    <li><a class="email-theme" href="mailto:salehen.rahman@gmail.com" target="_blank">Email</a></li>
  </ul>

</div>
